# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/
ENV/

# Environment variables / secrets
.env
.env.*

# macOS system files
.DS_Store

# VS Code settings
.vscode/

# Logs and temp files
*.log
*.tmp
*.bak

# Test/cache folders
.pytest_cache/
.mypy_cache/

# Build/distribution folders
build/
dist/
*.egg-info/